.container {
    margin: 32px 16px;
}

.info {
    background-color: white;
    color: black;
}

.headerStyle img {
    border: 10px solid black;
    width: 250px;
    height: 250px;
}

.headerStyle {
    display: flex;
    justify-content: left;
    align-items: center;
}

.name-location {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.bdr {
    border-radius: 5px;
    padding: 16px 16px;
}

.bio {
    margin-top: 32px;
}

.links {
    background-color: white;
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}

.stats {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}

.stat {
    width: 120px;
}

.github-logo {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.link {
    font-size: 14px;
}

.github-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}